.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.8rem 2.8rem 2rem 4.5rem;
}

.headerLogo {
  width: 140px;
}

.headerMenu a {
  text-decoration: none;
  padding: 0 1.75rem;
  color: #7a1655;
  font-size: 1.1rem;
  font-weight: 500;
}
